@model GameIndexViewModel
@inject IOptions<ApplicationConfiguration> config
@{
  ViewData["Title"] = "Number Guessing Game";
}

@Html.React(
"NumberGuessingGame.GameForm",
new
{
  // https://stackoverflow.com/a/48538207/1872200
  //returnUrlRelativeToRoot = Context.Request.Query["returnUrl"]
  gameId = Model.Game.Id
}
)

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Guessed number</th>
      <th scope="col">First name - Last name (mask)</th>
      <th scope="col">Played at</th>
    </tr>
  </thead>
  <tbody>

    @for (var index = 0; index < Model.Players.Count; index++)
    {
      <tr>
        @{
          var player = Model.Players[index];
        }
        <td scope="row">@(index + 1)</td>
        <td scope="row">@string.Format("{0:00}", player.GuessedNumber)</td>
        <td scope="row">@player.User.FirstName - @player.User.LastName </td>
        <td scope="row">@player.PlayedAtUtc</td>
      </tr>
    }
  </tbody>
</table>